  <!-- SECTION 2: GRID FLAVORS -->
  <section class="bg-ice-pink py-20 px-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-7xl mx-auto">
      <!-- Galaxy Swirl -->
      <div
        class="bg-ice-blue-light p-8 h-80 flex flex-col justify-between"
        data-aos="zoom-in"
      >
        <h3 class="text-ice-blue font-semibold text-6xl leading-none uppercase">
          Galaxy Swirl
        </h3>
      </div>

      <!-- Image Block 1 -->
      <div
        class="bg-ice-yellow p-4 h-80 flex items-center justify-center overflow-hidden"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <img
          src="{{ '/assets/images/ice-cream1.jpg' | relative_url }}"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Tropical Confetti -->
      <div
        class="bg-ice-mint p-8 h-80 flex items-end justify-end"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <h3
          class="text-ice-blue font-semibold text-6xl leading-none text-center uppercase"
        >
          Tropical Confetti
        </h3>
      </div>
    </div>

    <div class="mt-10" data-aos="fade-up">
      <h2
        class="text-ice-blue text-[18vw] font-[900] leading-none text-center tracking-tighter uppercase"
      >
        YUM YUM
      </h2>
    </div>

    <!-- Kids eating ice cream -->
    <div class="mt-10" data-aos="fade-up">
      <img
        src="https://images.unsplash.com/photo-1533038590840-1cde6e668a91?auto=format&fit=crop&q=80&w=1500"
        class="w-full h-[600px] object-cover"
      />
    </div>
  </section>