  <!-- SECTION 6: FOOTER / CIAO -->
  <footer class="bg-ice-pink pt-20 pb-5 px-10 relative">
    <div class="flex flex-col md:flex-row justify-center items-end gap-10">
      <img
        src="{{ '/assets/images/footer.png' | relative_url }}"
        class="w-[120%] h-auto"
        data-aos="fade-up"
        data-aos-delay="100"
      />
    </div>

    <div class="mt-10">
      <h2
        class="absolute left-[-0.6%] top-[63%] z-20 text-ice-blue text-[18vw] font-[900] leading-none tracking-tighter uppercase"
        data-aos="fade-right"
      >
        CIAO XX
      </h2>
    </div>

    <!-- Buttons Bottom Right -->
    <div class="mt-48 md:mt-10 flex flex-wrap gap-4 justify-end">
      <a href="#" class="bg-ice-yellow text-ice-blue px-4 py-2 rounded-md font-bold text-xs uppercase shadow-sm">Contact Us</a>
      <a href="#" class="bg-ice-mint text-ice-blue px-4 py-2 rounded-md font-bold text-xs uppercase shadow-sm">Reservation</a>
    </div>
</footer>