  <!-- SECTION 5: MINT TO BE & MAP -->
  <section class="bg-ice-mint p-10">
    <div class="relative">
      <h2
        class="text-ice-blue text-[15vw] font-[900] leading-none uppercase tracking-tighter"
        data-aos="fade-right"
      >
        MINT TO BE
      </h2>

      <!-- Floating Flavor Grid -->
      <div
        class="bg-white p-8 max-w-3xl mx-auto my-10 shadow-xl"
        data-aos="zoom-in"
      >
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
          <img
            src="https://images.unsplash.com/photo-1560008511-11c63416e52d?auto=format&fit=crop&q=80&w=300"
            class="w-full aspect-square object-cover"
          />
          <img
            src="https://images.unsplash.com/photo-1563805042-7684c019e1cb?auto=format&fit=crop&q=80&w=300"
            class="w-full aspect-square object-cover"
          />
          <img
            src="https://images.unsplash.com/photo-1576506295286-5cda18df43e7?auto=format&fit=crop&q=80&w=300"
            class="w-full aspect-square object-cover"
          />
          <img
            src="https://images.unsplash.com/photo-1570197788417-0e82375c9371?auto=format&fit=crop&q=80&w=300"
            class="w-full aspect-square object-cover"
          />
          <img
            src="https://images.unsplash.com/photo-1488900128323-21503983a07e?auto=format&fit=crop&q=80&w=300"
            class="w-full aspect-square object-cover"
          />
          <div class="flex items-center justify-center">
            <span class="text-ice-blue font-black text-3xl italic">YUMM.</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Map Section (Simulasi Map) -->
    <div
      class="mt-20 border-[20px] border-white shadow-2xl overflow-hidden rounded-sm"
      data-aos="fade-up"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Disneyland_Park_Map.jpg"
        alt="Map"
        class="w-full h-96 object-cover opacity-80"
      />
    </div>
  </section>