  <!-- SECTION 3: MORE FLAVORS GRID -->
  <section class="grid grid-cols-1 md:grid-cols-3 gap-0">
    <div class="bg-ice-peach p-12 h-[400px]" data-aos="fade-right">
      <h3 class="text-ice-blue font-black text-5xl uppercase">Lava Mango</h3>
    </div>
    <div
      class="bg-ice-yellow p-12 h-[400px] flex items-center justify-center"
      data-aos="fade-up"
    >
      <h3
        class="text-ice-blue font-black text-5xl uppercase text-center leading-none"
      >
        Pink Panther
      </h3>
    </div>
    <div class="bg-white p-4 h-[400px]" data-aos="fade-left">
      <img
        src="https://images.unsplash.com/photo-1551024601-bec78aea704b?auto=format&fit=crop&q=80&w=500"
        class="w-full h-full object-cover"
      />
    </div>

    <div class="bg-white p-4 h-[400px]" data-aos="fade-right">
      <img
        src="https://images.unsplash.com/photo-1505394033343-430c74f934bb?auto=format&fit=crop&q=80&w=500"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="bg-ice-mint p-12 h-[400px] flex flex-col justify-center"
      data-aos="fade-up"
    >
      <h3 class="text-ice-blue font-black text-5xl uppercase leading-none">
        Cereal Crush
      </h3>
    </div>
    <div
      class="bg-ice-peach p-12 h-[400px] flex items-end"
      data-aos="fade-left"
    >
      <h3 class="text-ice-blue font-black text-5xl uppercase leading-none">
        Unicorn Chill
      </h3>
    </div>
  </section>