<section class="relative w-full overflow-hidden" data-aos="fade-up" data-aos-duration="900" data-aos-easing="ease-out-cubic">
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat"
      style="background-image:url('assets/images/background2.jpg');"
    ></div>
  
    <div class="relative mx-auto w-full px-[4%] py-[10%]">
      <div
        class="mx-auto w-[92%] sm:w-[86%] md:w-[78%] bg-[#C9FDCD] p-[4.2%]"
        data-aos="zoom-in"
        data-aos-duration="750"
        data-aos-delay="60"
      >
        <div class="bg-white p-[3.2%]">
          <div class="relative">
            <div class="pointer-events-none absolute inset-0 border-[3px] border-[#3B49B8]"></div>
            <div class="aspect-[758/505] w-full overflow-hidden">
              <img
                src="assets/images/ice4.jpg"
                alt=""
                class="h-full w-full object-cover"
                draggable="false"
                data-aos="zoom-out"
                data-aos-duration="950"
                data-aos-delay="160"
              />
            </div>
          </div>
        </div>
  
        <div class="relative mt-[3%] flex items-end justify-end">
          <div
            class="pb-[1%] font-extrabold uppercase tracking-[-0.02em] text-[#3B49B8] text-[clamp(16px,3.4vw,40px)] leading-[1]"
            data-aos="fade-left"
            data-aos-duration="700"
            data-aos-delay="220"
          >
            YUMM.
          </div>
        </div>
      </div>
    </div>
  
    <div
      class="absolute z-20 left-[-0.6%] bottom-0 font-extrabold uppercase tracking-[-0.04em] text-[#3B49B8] text-[clamp(64px,18vw,200px)] leading-[0.88]"
      data-aos="fade-right"
      data-aos-duration="900"
      data-aos-delay="180"
      data-aos-easing="ease-out-cubic"
    >
      <div>MINT</div>
    </div>
  </section>
  