<section
  class="relative w-full overflow-hidden bg-[#C9FDCD]"
  data-aos="fade-up"
  data-aos-duration="900"
  data-aos-easing="ease-out-cubic"
>
  <div class="relative mx-auto w-full px-[4%] py-[6%]">
    <div
      class="absolute left-[-0.6%] top-[-2%] z-20 font-extrabold uppercase tracking-[-0.06em] text-[#3B49B8] leading-[0.86] text-[clamp(64px,18vw,220px)]"
      data-aos="fade-right"
      data-aos-duration="900"
      data-aos-delay="120"
      data-aos-easing="ease-out-cubic"
    >
      TO BE
    </div>

    <div
      class="relative z-10 mt-[10%] overflow-hidden rounded-[22px] bg-white"
      data-aos="zoom-in"
      data-aos-duration="800"
      data-aos-delay="160"
    >
      <div class="aspect-[16/7.5] w-full">
        <iframe
          class="h-full w-full"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps?q=Disneyland%20Park&output=embed"
        ></iframe>
      </div>
    </div>
  </div>
</section>
