<section class="relative w-full overflow-hidden bg-[#C2E0FC]">
  <div class="relative w-full pb-[102.5%]">
    <div
      class="absolute z-10 grid grid-cols-3 [left:4.2%] [top:5.4%] [width:91.6%] [gap:2.1%_2.1%]"
      data-aos="fade-up"
      data-aos-duration="900"
      data-aos-easing="ease-out-cubic"
    >
      <div
        class="relative w-full bg-[#F4B6BB] pb-[100%]"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="0"
      >
        <div
          class="absolute left-[9%] top-[12%] font-bold uppercase tracking-[-0.02em] text-[#3B49B8] text-[clamp(18px,4.2vw,48px)] leading-[1]"
          data-aos="fade-right"
          data-aos-duration="650"
          data-aos-delay="120"
        >
          <div>LAVA</div>
          <div>MANGO</div>
        </div>
      </div>

      <div
        class="relative w-full bg-[#FFFFC1] pb-[100%]"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="80"
      >
        <div
          class="absolute left-[12%] top-[38%] font-bold uppercase tracking-[-0.02em] text-[#3B49B8] text-[clamp(18px,4.2vw,48px)] leading-[1]"
          data-aos="fade-right"
          data-aos-duration="650"
          data-aos-delay="200"
        >
          <div>PINK</div>
          <div>PANTHER</div>
        </div>
      </div>

      <div
        class="relative w-full bg-[#C9FDCD] pb-[100%]"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="160"
      >
        <div class="absolute inset-0 p-[6%]">
          <div class="h-full w-full bg-white overflow-hidden">
            <img
              src="assets/images/ice1.jpg"
              alt=""
              class="h-full w-full object-cover"
              draggable="false"
              data-aos="zoom-out"
              data-aos-duration="900"
              data-aos-delay="260"
            />
          </div>
        </div>
      </div>

      <div
        class="relative w-full bg-[#FAE0BF] pb-[100%]"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="120"
      >
        <div class="absolute inset-0 p-[6%]">
          <div class="h-full w-full bg-white overflow-hidden">
            <img
              src="assets/images/ice2.jpg"
              alt=""
              class="h-full w-full object-cover"
              draggable="false"
              data-aos="zoom-out"
              data-aos-duration="900"
              data-aos-delay="220"
            />
          </div>
        </div>
      </div>

      <div
        class="relative w-full bg-[#C9FDCD] pb-[100%]"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="200"
      >
        <div
          class="absolute left-[12%] top-[38%] font-bold uppercase tracking-[-0.02em] text-[#3B49B8] text-[clamp(18px,4.2vw,48px)] leading-[1]"
          data-aos="fade-right"
          data-aos-duration="650"
          data-aos-delay="320"
        >
          <div>CEREAL</div>
          <div>CRUSH</div>
        </div>
      </div>

      <div
        class="relative w-full bg-[#F4B6BB] pb-[100%]"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="240"
      >
        <div
          class="absolute left-[9%] top-[64%] font-bold uppercase tracking-[-0.02em] text-[#3B49B8] text-[clamp(18px,4.2vw,48px)] leading-[1]"
          data-aos="fade-right"
          data-aos-duration="650"
          data-aos-delay="360"
        >
          <div>UNICORN</div>
          <div>CHILL</div>
        </div>
      </div>
    </div>

    <div
      class="absolute z-20 left-[-0.6%] top-[60%] font-extrabold uppercase tracking-[-0.04em] text-[#3B49B8] text-[clamp(64px,18vw,200px)] leading-[0.88]"
      data-aos="fade-right"
      data-aos-duration="900"
      data-aos-delay="180"
      data-aos-easing="ease-out-cubic"
    >
      <div>GIVE ME</div>
      <div>MORE</div>
    </div>

    <img
      src="/images/gummies.png"
      alt=""
      class="pointer-events-none absolute z-30 select-none right-[-4.2%] bottom-[-4%] w-[50%]"
      draggable="false"
      data-aos="fade-up"
      data-aos-duration="900"
      data-aos-delay="260"
      data-aos-easing="ease-out-cubic"
    />
  </div>
</section>
